<div class="tableview">
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Profile</th>
        </thead>
        <tbody>
            <tr *ngFor="let data of listViewData">
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.img}}</td>
                <button class="btn btn-primary editbtn">Edit</button>
                <button class="btn btn-danger deletebtn">Delete</button>
            </tr>
        </tbody>
    </table>
</div>