<div class="customer_pic">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill"
        viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
    </svg>&nbsp;<strong>Customers</strong>
</div>
<div class="customer_nav">
    <ul class="nav">
        <div>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="./cardview">CardView</a>
            </li>
        </div>
        <div>
            <li class="nav-item">
                <a class="nav-link active" routerLink="./listview">List View</a>
            </li>
        </div>
        <div>
            <li class="nav-item">
                <a class="nav-link active" routerLink="./mapview"> Map view</a>
            </li>
        </div>
        <div>
            <li class="nav-item">
                <a class="nav-link active" routerLink="./gridview">Grid View</a>
            </li>
        </div>
        <div>
            <li class="nav-item">
                <a class="nav-link active" routerLink="./newcustomer">New Customer</a>
            </li>
        </div>

    </ul>
</div>
<div class="view_pos"><router-outlet></router-outlet></div>