<div class="card_view">
    <div class="container">
        <div class="row" *ngFor="let data of  gridViewDta">
            <div class="col">
                <h6>{{data.name}}</h6>
                <h6>${{data.price}}</h6>
                <h6>{{data.productname}}</h6>

            </div>
            <div class="col">
                <h6>{{data.name}}</h6>
                <h6>${{data.price}}</h6>
                <h6>{{data.productname}}</h6>
            </div>
            <div class="col">
                <h6>{{data.name}}</h6>
                <h6>${{data.price}}</h6>
                <h6>{{data.productname}}</h6>
            </div>
            <div class="col">
                <h6>{{data.name}}</h6>
                <h6>${{data.price}}</h6>
                <h6>{{data.productname}}</h6>
            </div>

        </div>
    </div>


</div>