<div class="navbar_head">
    <ul class="nav justify-content-end">
        <h4 id="heading" style="margin-right: 750px; margin-top:5px;color: crimson;">Beta Dukaan</h4>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="customers">Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="orders">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="auth">Login</a>
        </li>
    </ul>

</div>

<router-outlet></router-outlet>